<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675746240391-dkv5q01moif3it7n25vomqcagcfuu3cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675746240391-dkv5q01moif3it7n25vomqcagcfuu3cl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>675746240391-svf1tersf84qt1p29od2qi7n23786tkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD-Re8PQUAGXsBeyAGuQEJrmxfLB2npE0</string>
	<key>GCM_SENDER_ID</key>
	<string>675746240391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupkash</string>
	<key>PROJECT_ID</key>
	<string>groupkash-app</string>
	<key>STORAGE_BUCKET</key>
	<string>groupkash-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675746240391:ios:85a80a715003512158a522</string>
</dict>
</plist>